.site-header {

}



.site-header__jerry-crow-picture {
    
    
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    


    

}

.site-header__text{
    position: relative;
    top: 150px;
}


.site-events{
    position: absolute;
    top:700px;
}



.site-header__name{
    
    
    text-align: center;
}



.site-header__description{
    text-align: center;
}

.site-header__background-picture {

    position: absolute;
    height: 500px;
    width: 100%;
    opacity: 0.4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;



}

 

